body {color: rgb(1, 49, 7);
background-color:antiquewhite;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{color: rgb(0, 73, 28); background-color: azure; font-family : Verdana, Tahoma, sans-serif;}
h2{color: rgb(0, 73, 28);font-family : Verdana, Tahoma, sans-serif}
nav {padding: 10px;
    margin-bottom: 30px;
    background:darkseagreen;}
nav a {color: whitesmoke;}
nav {color:whitesmoke;}
nav a:hover { background-color: rgb(211, 191, 149)}
div {
    border: 1px solid black;
    margin: 30px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;

}
a {color: rgb(0, 73, 28);}
